<div class="layout roboto-200">
  <div class="topbar">
    <div class="roboto-800">{{ 'TOPBAR_TITLE' | translate }}</div>
    <div>
      <select (change)="switchLanguage($event)" aria-label="Select language">
        <option value="en">English</option>
        <option value="ar">العربية</option>
      </select>
    </div>
  </div>
  <div class="content">
    <div>
      <img style="width: 100%; height: 400px;" src="assets/mental-health.png" alt="picture">
    </div>
    <!-- SECTION 1 -->
    <div class="section-1" style="margin-top: -1em;">
      <div class="caveat-700"
        style="text-align: center; font-size: 3em; padding-top: 2em; padding-bottom: 0em; color: black">
        {{ 'WHO_ARE_WE' | translate }}
      </div>
      <div class="caveat-400" style="padding: 2em; text-align: center; font-size: 2em;">
        {{ 'SECTION_1' | translate }}
      </div>

      <!-- SECTION BANNER -->
      <div class="background-section">
        <div class="text-overlay">
          <div style="padding-top: 3em; font-size: 1.5em;" class="roboto-500">
            <div
              style="display: grid; grid-template-columns: 1fr 1fr 1fr;padding-left: 3em;padding-right: 3em; gap: 1em;">
              <div class="card">
                <div>
                  {{ 'MY_STORY' | translate }}
                </div>
                <a href="#my-story">
                  <button class="custom-button">{{ 'READ_MORE' | translate }}</button>
                </a>
              </div>
              <div class="card">
                <div>
                  {{ 'PODCASTS_&_SELFCARE' | translate }}
                </div>
                <a href="#podcasts">
                  <button class="custom-button">{{ 'READ_MORE' | translate }}</button>
                </a>
              </div>
              <div class="card">
                <div>{{ 'SOURCES' | translate }}</div>
                <a href="#sources">
                  <button class="custom-button">{{ 'READ_MORE' | translate }}</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-2">
    </div>
    <div style="padding-top: 4em;padding-bottom: 4em;" class="section-3" id="my-story">
      <div class="caveat-700"
        style="text-align: center; font-size: 3em; padding-top: 1em; padding-bottom: 1em; color: black">
        {{ 'MY_STORY' | translate }}
      </div>
      <div class="roboto-300"
        style="padding: 2em; text-align:justify; font-size: 1.25em;white-space: pre-line;padding-left: 10em; padding-right: 10em;">
        {{ 'MY_STORY_TEXT' | translate }}
      </div>
    </div>

    <hr>

    <div class="section-4" id="podcasts">
      <div class="caveat-700"
        style="text-align: center; font-size: 3em; padding-top: 1.5em; padding-bottom: 1em; color: black">
        {{ 'PODCASTS_&_SELFCARE_TITLE' | translate }}
      </div>
      <div class="roboto-300"
        style="padding: 2em; font-size: 1.25em; white-space: pre-line;padding-left: 10em; padding-right: 10em;">
        {{ 'PODCASTS_&_SELFCARE_TEXT' | translate }}
      </div>

      <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 2em; padding: 4em 12em; ">
        <div>
          <iframe src="https://open.spotify.com/embed/show/37yKLl8AcarYAjFdT0dxoy?si=yzcBMbGtTR6TzR2MkrWVhg"
            width="100%" height="232" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>
        <div>
          <iframe src="https://open.spotify.com/embed/show/60YQJjP0yFjX3yEqg7BzwQ?si=41R2Kz15SzOA5_GzC82y1g"
            width="100%" height="232" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>
        <div>
          <iframe src="https://open.spotify.com/embed/show/5VzFvh1JlEhBMS6ZHZ8CNO?si=slDevW9FRgaKH1-CFw_KUw"
            width="100%" height="232" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        </div>
      </div>

      <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 2em; padding: 4em 12em;">
        <div style="position: relative; width: 100%; padding-bottom: 56.25%; /* 16:9 aspect ratio */">
          <iframe src="https://www.youtube.com/embed/f2tWu2rVF_0?si=c8Ui5huz6AYSkuqj" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
          </iframe>
        </div>
        <div style="position: relative; width: 100%; padding-bottom: 56.25%; /* 16:9 aspect ratio */">
          <iframe src="https://www.youtube.com/embed/gtUoblGRmmc?si=hG0cBw4r0ow8qF3z" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
          </iframe>
        </div>
      </div>

      <hr>

      <div style="padding-top: 4em;padding-bottom: 4em;" class="section-5" id="sources">
        <div class="caveat-700"
          style="text-align: center; font-size: 3em; padding-top: 1em; padding-bottom: 1em; color: black">
          {{ 'SOURCES_TITLE' | translate }}
        </div>
        <div class="roboto-300"
          style="padding: 2em; text-align:justify; font-size: 1.25em;white-space: pre-line;padding-left: 10em; padding-right: 10em;">
          {{ 'SOURCES_TEXT' | translate }}
        </div>
        <div>
          <div>
            <div style="text-align: center; margin-top: 10em;">
              <a href="https://www.emro.who.int/mhps/ar/mental_health_professionals.html" target="_blank"
                rel="noopener noreferrer"
                style="font-size: 1.5em; color: #007ACC; text-decoration: none; font-weight: 600;">
                {{ 'MH_WHO' | translate }}
              </a>
            </div>

            <div style="text-align: center; padding: 2em; font-size: 1.5em;" class="roboto-800">
              {{ 'AND' | translate }}
            </div>

            <div style="text-align: center;">
              <a href="https://online.ilajnafsy.org/?fbclid=PAQ0xDSwKeb9hleHRuA2FlbQIxMQABp_tuf_Nv5RoifvImWBZ154UqV556m-Yea0nU0DgqOYMQ70LEG3kfJ7AzOu8G_aem_QHebyfPKUrXcxH7HgYHAow#/register-counseling"
                target="_blank" rel="noopener noreferrer"
                style="font-size: 1.5em; color: #007ACC; text-decoration: none; font-weight: 600;">
                {{ 'MH_ILAJNAFSY' | translate }}
              </a>
            </div>
          </div>
          <div style="display: grid;justify-content: center; align-items: center;margin-top: 2em;">
            <div>
              <img width="300px" src="assets/app.png" alt="">
            </div>

            <div>
              <a href="https://apps.apple.com/jo/app/%D8%B1%D9%8A%D9%84%D8%A7%D9%83%D8%B3/id1596135173" target="_blank"
                rel="noopener noreferrer">
                <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                  alt="Download on the App Store" style="height: 50px;">
              </a>
              <a href="https://play.google.com/store/apps/details?id=org.imc.mhs" target="_blank"
                rel="noopener noreferrer">
                <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                  alt="Get it on Google Play" style="height: 60px;">
              </a>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div style="padding-top: 1em;padding-bottom: 4em;" class="section-5" id="comments">
        <!-- <div class="caveat-700"
          style="text-align: center; font-size: 3em; padding-top: 1em; padding-bottom: 1em; color: black">
          {{ 'REACTIONS' | translate }}
        </div>
        <div class="roboto-300"
          style="padding: 2em; text-align:justify; font-size: 1.25em;white-space: pre-line;padding-left: 10em; padding-right: 10em;">
          {{ 'REACTIONS_TEXT' | translate }}
        </div> -->
        <div class="comment-section">
          <!-- Add Comment -->
          <textarea [(ngModel)]="newComment" maxlength="500" placeholder="Write your comment here..."
            class="comment-section__textarea"></textarea>
          <button (click)="postComment()" class="comment-section__button" [disabled]="!newComment.trim()">
            Post
          </button>
          <div class="comment-section__char-count">{{ newComment.length }}/500</div>

          <!-- Total Comments -->
          <p class="comment-section__total-comments">
            Total comments: {{ comments.length }}
          </p>

          <!-- Comment List -->
          <div class="comment-section__comments-list">
            <div *ngFor="let comment of comments" class="comment-section__comment">
              <p>{{ comment.text }}</p>
              <small>
                👍 {{ comment.likes }} | 👎 {{ comment.dislikes }} | {{ comment.timestamp | date:'medium' }}
              </small>
            </div>
          </div>

          <!-- Visit Count -->
          <p class="comment-section__visit-count">Total visitors: {{ visitCount }}</p>
        </div>

      </div>
    </div>
  </div>
  <div class="footer">
    <div>Yaqut Al-Rawashdeh</div>
  </div>
</div>